*{
    margin: 0;
    padding: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url('../images/developer.png'),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    

}
nav{
    width: 71%;
    max-width: 1424px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-size: 900;

}
#r{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
   color: #474747;
   font-size: 20px;
}

nav .menu button{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    align-items: center;
    padding: 15px;
    align-items: center;
    border: none;
    cursor: pointer;
    
}
.hero{

    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero .text h1{
    margin-bottom: 5px;
}
.hero .text p{
    font-size: 18px;
    color: #757575; 
    line-height: 30px;
    margin-bottom: 20px;
}
.hero .text{
    max-width: 570px;
    
}
.hero div button{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    align-items: center;
    padding: 15px;
    align-items: center;
    border: none;
    cursor: pointer;
    
}
.hero .img img{
    max-width: 570px;
    vertical-align: middle;

}
#about {
padding-top: 130px;
text-align: center;
}
#about .about-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 131px 157px;
    text-align: center;
    background-color: #FFF8F3;
    /* border: 1px solid red; */
}
.section-heading{
    text-align: center;
    max-width: 827px;
    margin: 0 auto;
}
.section-heading h4{
    font-size: 35px;
    margin-bottom: 30px;
    align-items: center;
}
.section-heading p{
    font-size: 20px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
   

    
    
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    max-width: 827px;
    margin: 0 auto;
    
    
}


#about .about-container .about-info .info-card p{
    font-size: 21px;
    color: #757575;
    line-height: 30px;

}
#skills , #resume{
    padding-top: 130px;
}
.skill-container{
    width: 70%;
    max-width: 1140px;
    margin:0 auto;
}
#skills .skill-container .skill-box{
    display: flex;
    gap:24px;

}
.skill-box .skill-card{
    max-width: 267px;
    padding: 30px;
    box-shadow: 0 6px 50px #23222280;

  
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
margin-bottom: 20px;
font-size: 20px;
}

.skill-card p{
    color: #757575;
    line-height: 25px;
    font-size: 18px;
}
#resume .resume-container{
    max-width: 1140px;
    width: 70%;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight:  600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 15px;
    color: #474747;
    line-height: 28px;
}

hr{
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
.btn{
     background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    align-items: center;
    padding: 15px;
    align-items: center;
    border: none;
    cursor: pointer;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 70%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    
    gap: 116px;
}
.footer-container .social{
    max width: 562px;

}
.footer-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 30px;
}
.footer-container form input[type="text"]{
    width: 461px;
    padding: 18px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form  textarea{
     width: 461px;
    padding: 18px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    color: #757575;
    border: none;
}